<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/adityakumar3/HU_SELENIUM_TRACK/API_TESTING_TRACK">
        <classes>

            <class name="Create_User"></class>
            <class name="Login_userValidation"></class>
            <class name="Add_Tasks"></class>
        </classes>
    </test>
</suite>